/*------------------------------------ Reset --------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea {
    outline: 0;
}
/*------------------------------------ Fonts ------------------------------------*/
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src:  url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/FontAwesome/fontawesome-webfont.woff") format("woff"),
        url("../fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "LibreBaskervilleRegular";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/LibreBaskerville/regular/LibreBaskerville-Regular.eot?#iefix") format("embedded-opentype"),
          url("../fonts/LibreBaskerville/regular/LibreBaskerville-Regular.woff") format("woff"),
          url("../fonts/LibreBaskerville/regular/LibreBaskerville-Regular.ttf") format("truetype"),
          url("../fonts/LibreBaskerville/regular/LibreBaskerville-Regular.svg") format('svg');
}
@font-face {
  font-family: "LibreBaskervilleBold";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/LibreBaskerville/bold/LibreBaskerville-Bold.eot?#iefix") format("embedded-opentype"),
          url("../fonts/LibreBaskerville/bold/LibreBaskerville-Bold.woff") format("woff"),
          url("../fonts/LibreBaskerville/bold/LibreBaskerville-Bold.ttf") format("truetype"),
          url("../fonts/LibreBaskerville/bold/LibreBaskerville-Bold.svg") format('svg');
}
@font-face {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/Sacramento/Sacramento-Regular.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Sacramento/Sacramento-Regular.woff") format("woff"),
          url("../fonts/Sacramento/Sacramento-Regular.ttf") format("truetype"),
          url("../fonts/Sacramento/Sacramento-Regular.svg") format('svg');
}
@font-face {
  font-family: "PoppinsRegular";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/Poppins/regular/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Poppins/regular/Poppins-Regular.woff") format("woff"),
          url("../fonts/Poppins/regular/Poppins-Regular.ttf") format("truetype"),
          url("../fonts/Poppins/regular/Poppins-Regular.svg") format('svg');
}
@font-face {
  font-family: "PoppinsMedium";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/Poppins/medium/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Poppins/medium/Poppins-Medium.woff") format("woff"),
          url("../fonts/Poppins/medium/Poppins-Medium.ttf") format("truetype"),
          url("../fonts/Poppins/medium/Poppins-Medium.svg") format('svg');
}
@font-face {
  font-family: "PoppinsSemiBold";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/Poppins/semibold/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Poppins/semibold/Poppins-SemiBold.woff") format("woff"),
          url("../fonts/Poppins/semibold/Poppins-SemiBold.ttf") format("truetype"),
          url("../fonts/Poppins/semibold/Poppins-SemiBold.svg") format('svg');
}
@font-face {
  font-family: "Wisdom";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/Wisdom/wisdom_script.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Wisdom/wisdom_script.woff") format("woff"),
          url("../fonts/Wisdom/wisdom_script.ttf") format("truetype"),
          url("../fonts/Wisdom/wisdom_script.svg") format('svg');
}
/*-------------------------------- Common settings ---------------------------------*/
/* ------------------------------ Layout */
#main {
	font-family: PoppinsRegular, Arial, sans-serif;
    width: 100%;
	max-width: 1920px;
	background-color: #fff;
}
#main p, #main ul li {
    font-size: 15px;
    line-height: 27px;
    color:  #616161;
}
#main h4 {
    font-family: PoppinsMedium;
    font-size: 20px;
}
.section {
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}
#header, #about {
    text-align: left;
}
.content_row {
    max-width: 1200px;
    padding: 145px 15px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#main .content_row>p {
    font-size: 18px;
    padding: 40px 40px 80px 40px;
}
#main #focus, #main #team, #main #pricing, #main #blog, #main #subscribe form #mail {
    background-color: #eeeeee;
}
/* ------------------------------ Blocks */
/*------ Center alignment ------*/
#header h1, #header a, #header #pluses_row, #start_promo, #subscribe h4, #subscribe_form {
    display: block;
    margin: 0 auto;
}
/* ---------------- */
.content_row h3 {
    font-family: LibreBaskervilleBold;
    font-size: 50px;
    color:  #313131;
    margin: 0;
}
.mrg_top_50 {
    margin-top: 50px;
}
/* ------------------------------ Cosmetics */
/*------ transition all ------*/
#navigation, #navigation ul li a, .no_scroll ul li a:hover, .scrolled, #header .scrolled ul li a:hover, #header #our_works, #header #our_works:hover,
#menu_link span:before, #menu_link span:after, #pricing #starter a:hover, #pricing #ultimate a:hover, #pricing #professional a:hover, .start_button, #select #get_started #start_promo a, #select #get_started #start_promo a:hover {
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
#portfolio .img_hover, #portfolio .img_box:hover .img_hover {
    -webkit-transition: opacity 0.5s;
       -moz-transition: opacity 0.5s;
         -o-transition: opacity 0.5s;
            transition: opacity 0.5s;
}
/*------ shadow ------*/
#about_inf, .focus_block, #portfolio .img_box, #team .team_member, .scrolled, .step_block .step_descr, #pricing .price_column, #testimonials .single_feedback .img_box img, #testimonials .single_feedback .feedback_box {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#main a {
    text-decoration: none;
}
/*------ main color scheme -------*/
/* Red color*/
#logo span, #michael, #pricing #ultimate a, #testimonials .single_feedback .feedback_box #clients_position, #select #get_started #start_promo a, #red_post .author_name, #red_post a {
    color:  #fc5f45;
}
#header #our_works, #pricing #ultimate a:hover, #select #get_started #start_promo a:hover, #subscribe form #sub_button, #contacts form #send_btn {
    background-color: #fc5f45;
}
/* Green color */
#pluses_row div, #david, #pricing #starter a, #green_post .author_name, #green_post a, #llc h4 {
    color:  #38c695;
}
#pricing #starter a:hover {
    background-color: #38c695;
}
/* Purple color */
#pluses_row #clock, #anna, #pricing #professional a, #purple_post .author_name, #purple_post a, #llc_uk h4 {
    color:  #b27cf5;
}
#pricing #professional a:hover {
    background-color: #b27cf5;
}
/* Yellow color */
#pluses_row #check, #jason, #yellow_post .author_name, #yellow_post a, #follow h4 {
    color:  #feb960;
}
/* White color */
#logo a, .no_scroll ul li a, #header h1, #header #our_works, #pricing #starter a:hover, #pricing #ultimate a:hover, #pricing #professional a:hover, #testimonials .content_row h3, #testimonials .content_row p, #select #get_started #start_promo a:hover, #subscribe form #sub_button, #contacts form #send_btn, #footer .footer_block p {
    color: #fff;
}
.scrolled, #menu_link, #header #our_works:hover, #team .team_member, #team .member_info, #main #steps, #steps .step_block .step_descr, #pricing .price_column, #select #get_started #start_promo a, #blog .blog_post, #subscribe, #contacts form input, #contacts form textarea {
    background-color: #fff;
}
/* Red hover color */
.no_scroll ul li a:hover, #header .scrolled ul li a:hover {
    color: #FE8673;
}
/*------ 4 colored line -------*/
.color_line {
    width: 100%;
    overflow: hidden;
}
#about .color_line {
    position: absolute;
    left: 0;
    bottom: 0;
}
#portfolio .color_line {
    position: absolute;
    left: 0;
    bottom: 63px;
}
.color_line span {
    width: 25%;
    float: left;
}
.color_line #red, #michael, #step_01, #testimonials .single_feedback .feedback_box, #blog .latest_post {
    border-bottom: 3px solid #fc5f45;
}
.color_line #green, #david, #step_02, #green_post {
    border-bottom: 3px solid #38c695;
}
.color_line #purple, #anna, #step_03, #purple_post {
    border-bottom: 3px solid #b27cf5;
}
.color_line #yellow, #jason, #step_04, #yellow_post {
    border-bottom: 3px solid #feb960;
}
/*------------------------------------- Header -------------------------------------*/
#header {
    width: 100%;
    height: 850px;
    background: url("../img/header_bg.png") center center no-repeat;
}
#navigation {
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 99;
}
#navigation .content_row {
    padding: 0 15px;
}
#logo {
    float: left;
}
#logo {
    font-family: Wisdom;
    font-size: 35px;
    line-height: 75px;
}
#logo span {
    text-transform: uppercase;
}
#navigation ul {
    float: right;
}
#navigation ul li {
    display: inline-block;   
}
#navigation ul li a {
    font-family: PoppinsMedium;
    font-size: 14px;
    padding: 0 11px;
    text-transform: capitalize;
    line-height: 75px;
}
.no_scroll {
    background-color: transparent;
}
#header .scrolled ul li a {
    color: #3D3E48;
}
#menu_link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 17.5px;
    right: 20px;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
       -moz-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
            box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}
#menu_link span, #menu_link span:before, #menu_link span:after {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #3D3E48;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -1px;
}
#menu_link span:before {
    content: '';
    margin-top: -6px;
}
#menu_link span:after {
    content: '';
    margin-top: 4px;
}
#header .menu_active span {
    background-color: transparent;
}
#header .menu_active span:before {
    transform: rotate(135deg);
    margin-top: 0;
}
#header .menu_active span:after {
    transform: rotate(-135deg);
    margin-top: 0;
}
#header h1 {
    font-family: LibreBaskervilleRegular;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    padding: 225px 0 50px 0;
    max-width: 820px; 
}
#header #our_works {
    border: 1px solid #616161;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    font-family: PoppinsSemiBold;
    font-size: 16px;
}
#header #our_works:hover {
    color: #616161;
    -webkit-box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
       -moz-box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
            box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
}
#pluses_row {
    width: 100%;
    max-width: 750px;
    padding: 85px 0 0 0;
}
#pluses_row div {
    float: left;
    text-align: center;
    font-family: PoppinsMedium;
    font-size: 18px;
    width: 100%;
    max-width: 250px;
    padding-top: 78px;
    background: url("../img/dollar.png") center top no-repeat;
    text-transform: uppercase;
}
#pluses_row #clock {
    background-image: url("../img/clock.png");
}
#pluses_row #check {
    background-image: url("../img/check.png");
}
/*-------------------------------------- About -------------------------------------*/
#about_img {
    max-width: 555px;
    background: url("../img/about_bg.jpg") left top repeat-x;
}
#about_img img{
    padding: 10px;
    width: 100%;
}
#about_inf h3, #about_inf p {
    margin: 0;
    text-align: left;
}
#about_inf p {
    padding: 10px 0;
}
/*-------------------------------------- Focus -------------------------------------*/
#focus {
    background: url("../img/numbers/02.png") center top no-repeat;
    text-align: center;
}
#focus .focus_wrapper {
    margin: 20px 0;
}
.focus_block {
    background: url("../img/focus/web.png") center 64px no-repeat;
    background-color:  #ffffff;
    border-bottom: 3px solid #fc5f45;
    padding: 138px 32px 67px 32px;
}
.focus_block h4 {
    padding-bottom: 32px;
}
#ux {
    background: url("../img/focus/ux.png") center 64px no-repeat;
    background-color:  #ffffff;
    border-bottom-color: #38c695;
}
#photo {
    background: url("../img/focus/photo.png") center 64px no-repeat;
    background-color:  #ffffff;
    border-bottom-color: #b27cf5;
}
#app {
    background: url("../img/focus/app.png") center 64px no-repeat;
    background-color:  #ffffff;
    border-bottom-color: #feb960;
}
/*------------------------------------ Portfolio -----------------------------------*/
#portfolio {
    background: url("../img/numbers/03.png") center top no-repeat;
}
#portfolio .img_box {
    cursor: pointer;
    margin: 15px 0;
    max-width: 360px;
    max-height: 288px;
    width: 100%;
    height: 100%;
}
#portfolio img {
    width: 100%;
    height: auto;
}
#portfolio .img_hover {
    position: absolute;
    left: 15px;
    top: 15px;
/*    margin: 0 auto;*/
    max-width: 360px;
    width: 100%;
    max-height: 288px;
    height: 100%;
    background: url("../img/portfolio/plus.png") center center no-repeat;
    background-color: rgba(38,39,50,0.5);
    z-index: 10;
    opacity: 0;
}
#portfolio .img_caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 63px;
    text-align: center;
    font-size: 18px;
    line-height: 63px;
    background-size: 100% 3px;
    background-color: #fff;
    z-index: 11;
}
#portfolio .img_box:hover .img_hover {
    opacity: 1;
}
/*-------------------------------------- Team --------------------------------------*/
#team {
    background: url("../img/numbers/04.png") center top no-repeat;
}
#team .team_member {
    max-width: 263px;
    padding: 5px;
    display: block;
    cursor: pointer;
}
#team .team_member img {
    max-width: 270px;
    width: 100%;
}
.caption h4 {
    font-size: 18px;
    margin: 0;
    padding: 15px 0 5px 0;
}
.caption p {
    font-size: 14px;
    margin: 0;
    padding: 4px 0 7px 0;
}
.member_info {
    padding: 80px 100px;
    text-align: left;
    position: relative;
    display: none;
}
.about_member {
    padding-right: 130px;
}
.about_member h4 {
    padding-bottom: 35px;
}
.about_member p {
    padding-right: 180px;
    border-right: 2px solid #efefef;
    background: url(../img/team/share.svg) 95.83333333333333% center no-repeat;
}
.member_links {
    position: absolute;
    right: 100px;
    top: 135px;
    padding: 24px;
}
.member_links ul li {
    padding: 3px;
    display: block;
}
.member_links ul li a {
    color:  #616161;
    -webkit-transition: color 0.5s;-o-transition: color 0.5s;-moz-transition: color 0.5s;transition: color 0.5s;
}
.member_links ul li a:hover {
    color:  #FE8673;
    -webkit-transition: color 0.5s;-o-transition: color 0.5s;-moz-transition: color 0.5s;transition: color 0.5s;
}
.member_links ul li span {
    font-family: FontAwesome;
    padding-right: 5px;
}
.triangle {
    content: '';
    border: 40px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    left: 36.66666666666667%;
    bottom: -50px;
}
#david .triangle, #anna .triangle, #jason .triangle {
    display: none;
}
.show {
    display: block;
}
/*------------------------------------- Stats --------------------------------------*/
#stats {
    background: url("../img/stats/stats.png") center top no-repeat;
    width: 100%;
}
#main #stats .regerds_row {
    padding: 110px 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
#stats .regard {
    margin: 20px 0;
}
#stats .regard p, #stats .regard .achieves {
    color: rgba(254, 254, 254, 0.8);
    text-align: center;
}
#stats .regard .achieves {
    padding: 80px 0 15px 0;
    background: url("../img/stats/project.svg") center top no-repeat;
}
#stats .regard .color_dot {
    padding: 15px 0 55px 0;
    background: url("../img/stats/red-ring.svg") center bottom no-repeat;
}
#stats #clients .achieves { background: url("../img/stats/clients.svg") center top no-repeat; }
#stats #clients .color_dot { background: url("../img/stats/green-ring.svg")center bottom no-repeat; }
#stats #feedbacks .achieves { background: url("../img/stats/feeds.svg") center top no-repeat; }
#stats #feedbacks .color_dot { background: url("../img/stats/purple-ring.svg")center bottom no-repeat; }
#stats #freebies .achieves { background: url("../img/stats/bies.svg") center top no-repeat; }
#stats #freebies .color_dot { background: url("../img/stats/yellow-ring.svg")center bottom no-repeat; }
/*---------------------------------- How we work -----------------------------------*/
#steps {
    background: url("../img/numbers/05.png") center top no-repeat;
}
#steps_section {
    max-width: 1140px
    padding: 50px 30px 150px 30px;
}
.step_block {
    position: relative;
}
#steps_section .step_block {
    width: 100%;
}
#steps_section .step_block img {
    display: block;
    width: 100%;
    max-width: 556px;
    margin: 0 auto;
}
.step_block .step_descr {
    background: url("../img/steps/step_01.png") 32px 41px no-repeat;
    max-width: 458px;
    max-height: 301px;
    text-align: left;
    padding: 48px 60px 64px 120px;
    position: absolute;
}
.step_block .step_descr h4 {
    padding-bottom: 24px;
    font-family: PoppinsRegular;
    font-size: 25px;
}
.step_block #step_01, .step_block #step_03 {
    left: 0;
    top: -50px;
}
.step_block #step_02, .step_block #step_04 {
    right: 0;
    top: -50px;
}
.step_block #step_02 {
    background: url("../img/steps/step_02.png") 32px 41px no-repeat;
}
.step_block #step_03 {
    background: url("../img/steps/step_03.png") 32px 41px no-repeat;
}
.step_block #step_04 {
    background: url("../img/steps/step_04.png") 32px 41px no-repeat;
}
/*------------------------------------ Pricing -------------------------------------*/
#pricing {
    background: url("../img/numbers/06.png") center top no-repeat;
}
#pricing .price_column {
    max-width: 360px;
    border-top: 3px solid #38c695;
    padding: 40px 0;
}
#pricing #ultimate {
    border-top: 3px solid #fc5f45;
}
#pricing #professional {
    border-top: 3px solid #b27cf5;
}
#pricing .price_column h4 {
    padding-bottom: 32px;
}
#pricing .price_column ul {
    font-family: PoppinsRegular;
    font-size: 15px;
    margin: 0;
    padding: 40px 0;
}
#pricing .price_column ul li {
    color:  #272727;
    line-height: 40px;
}
#pricing .price_column .price {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color:  #ffffff;
    box-sizing: border-box;
    width: 106px;
    height: 106px;
    margin: 0 auto;
    font-family: PoppinsRegular;
    font-size: 13px;
    color: #ffffff;
    padding: 27px 15px;
    background-color:  #38c695;
    -webkit-box-shadow: 0px 0px 0px 3px #38c695;
       -moz-box-shadow: 0px 0px 0px 3px #38c695;
            box-shadow: 0px 0px 0px 3px #38c695;
}
#pricing #ultimate .price {
    background-color:  #fc5f45;
    -webkit-box-shadow: 0px 0px 0px 3px #fc5f45;
       -moz-box-shadow: 0px 0px 0px 3px #fc5f45;
            box-shadow: 0px 0px 0px 3px #fc5f45;
}
#pricing #professional .price {
    background-color:  #b27cf5;
    -webkit-box-shadow: 0px 0px 0px 3px #b27cf5;
       -moz-box-shadow: 0px 0px 0px 3px #b27cf5;
            box-shadow: 0px 0px 0px 3px #b27cf5;
}
#pricing .price_column .price strong { font-size: 25px; }
#pricing .price_column ul strong { font-family: PoppinsMedium; }
#pricing .price_column ul span { font-family: FontAwesome; }
.start_button {
    margin: 0 auto;
    display: block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid #38c695;
    text-align: center;
    font-family: PoppinsSemiBold;
    font-size: 16px;
    line-height: 46px;
    text-transform: uppercase;
}
#pricing #ultimate a {
    border: 2px solid #fc5f45;
}
#pricing #professional a {
    border: 2px solid #b27cf5;
}
/*---------------------------------- Testimonials ----------------------------------*/
#testimonials {
    background: url("../img/numbers/07.png") center top no-repeat;
    background-color: #3f4049;
}
#testimonials .content_row #testimonials_section {
    max-width: 1170px;
    width: 100%;
}
#testimonials #testimonials_section .single_feedback {
    width: 100%;
    padding-left: 29.74358974358974%;
    padding-top: 40px;
    margin: 0;
    position: relative;
}
#testimonials .single_feedback .img_box {
    max-width: 32.82051282051282%;
    height: auto;
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
}
#testimonials .single_feedback .img_box img {
    width: 100%;
}
#testimonials .single_feedback .feedback_box {
    overflow: hidden;
    width: 100%;
    background: url("../img/testimonials/quotes.png") 84px top no-repeat;
    background-color: #fff;
    padding: 40px 9.245742092457421% 40px 14.84184914841849%;
    text-align: left;
}
#testimonials .single_feedback .feedback_box p {
    color: #616161;
}
#testimonials .single_feedback .feedback_box #clients_name {
    font-family: PoppinsMedium;
    font-size: 18px;
}
#testimonials .single_feedback .feedback_box #clients_position {
    font-size: 13px;
}
#testimonials .single_feedback .feedback_box #clients_name, #testimonials .single_feedback .feedback_box #clients_signature {
    color: #272727;
    margin: 0;
}
#testimonials .single_feedback .feedback_box #clients_signature {
    font-family: Sacramento;
    font-size: 40px;
    padding: 30px 0 15px 0;
}
#testimonials .single_feedback .feedback_box #clients_position {
    padding-top: 13px;    
}
/*--------------------------------- Why select us ----------------------------------*/
#select {
    background: url("../img/numbers/08.png") center top no-repeat;
}
#select .select_section {
    text-align: left;
    padding: 25px 10px;
    background: url("../img/select_us/growth.svg") 10px 25px no-repeat;
    min-height: 250px;
}
#select #revisions { background: url("../img/select_us/revisions.svg") 10px 25px no-repeat; }
#select #perfection { background: url("../img/select_us/perfection.svg") 10px 25px no-repeat; }
#select #experience { background: url("../img/select_us/experience.svg") 10px 25px no-repeat; }
#select #deadline { background: url("../img/select_us/deadline.svg") 10px 25px no-repeat; }
#select #award { background: url("../img/select_us/award.svg") 20px 25px no-repeat; }
#select h4 {
    font-size: 18px;
    padding-left: 60px;
    line-height: 26px;
}
#select p {
    padding: 20px 0;
}
#select #get_started {
    width: 100%;
    padding: 15px 0 160px 0;
}
#select #get_started #start_promo h4, #select #get_started #start_promo a {
    display: inline-block;
}
#select #get_started #start_promo h4 {
    font-size: 25px;
    padding: 0 0 24px 0;
}
#select #get_started #start_promo a {
    border: 2px solid #fc5f45;
}
/*------------------------------------- Blog ---------------------------------------*/
#blog {
    background: url("../img/numbers/09.png") center top no-repeat;
}
#blog .blog_post {
    width: 100%;
    padding: 33px 38px;
    text-align: left;
}
#blog .blog_post .post_date {
    font-size: 13px;
}
#blog .blog_post h4 {
    padding: 21px 0;
}
#blog .blog_post {
    font-size: 15px;
}
#blog .blog_post .post_text {
    line-height: 18px;
}
#blog .blog_post .author_name {
    font-family: PoppinsMedium;
    padding-right: 25px;
}
#blog .latest_post {
    padding: 0;
    position: relative;
}
#blog .latest_post #post_info {
    padding: 10px 53px 42px 53px;
}
#blog .latest_post #post_info h4 {
    line-height: 35px;
}
#blog .latest_post #post_info #img_caption {
    position: absolute;
    top: 397px;
    left: 53px;
}
#green_post, #purple_post {
    margin-bottom: 20px;
}
/*---------------------- Subscribe ----------------------*/
#subscribe {
    width: 100%;
    padding: 149px 0;
}
#subscribe h4 {
    font-family: PoppinsMedium;
    font-size: 30px;
    padding-bottom: 53px;
}
#subscribe h4, #subscribe_form {
    overflow: hidden;
}
#subscribe #subscribe_form {
    max-width: 480px;
}
#subscribe form #mail {
    width: 300px;
    height: 50px;
    border-radius: 25px 0 0 25px;
    padding-left: 29px;
    border: none;
    font-size: 16px;
    float: left;
}
#subscribe form #sub_button {
    padding: 0;
    width: 180px;
    height: 50px;
    border-radius: 0 25px 25px 0;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    float: left;
}
/*----------------------------------- Contacts -------------------------------------*/
#contacts {
    background: url("../img/numbers/10.png") center top no-repeat;
    background-color: #cdcdcd;
}
#contacts form {
    max-width: 750px;
    margin: 0 auto;
}
#contacts form .form_row {
    width: 100%;
    overflow: hidden;
    padding: 12px 0;
}
#contacts form .submit_row{
    width: 100%;
    padding: 50px 0 150px 0;
}
#contact_name, #contact_subject {
    float: left;
}
#contact_mail, #contact_budget {
    float: right;
}
#contacts form input, #contacts form textarea {
    max-width: 360px;
    width: 100%;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color:  #efefef;
    box-sizing: border-box;
    height: 50px;
    text-align: left;
    display: block;
    padding-left: 10px;
}
#contacts form textarea {
    padding: 10px;
    resize: none;
}
#contacts form #send_btn {
    max-width: none;
    width: 190px;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
}
/* --- make text-align centered, but in focus left aligned ---*/
#contacts form input:-moz-placeholder, #contacts form textarea:-moz-placeholder {
    color: #999999;
    text-align: center;
}
#contacts form input::-moz-placeholder, #contacts form textarea::-moz-placeholder {
    color: #999999;
    text-align: center;
}
#contacts form input:-ms-input-placeholder, #contacts form textarea:-ms-input-placeholder {
    color: #999999;
    text-align: center;
}
#contacts form input::-webkit-input-placeholder, #contacts form textarea::-webkit-input-placeholder {
    color: #999999;
    text-align: center;
}
#contacts form #contact_message {
    max-width: none;
    height: 200px;
}
/*----------------------- Footer ------------------------*/
#footer {
    background-color: #3f404a;
    overflow: hidden;
}
#footer .footer_block {
    width: 25%;
    float: left;
    text-align: left;
    height: 100%;
    padding: 60px 40px;
}
#footer #logo {
    padding: 80px 40px;
}
#footer h4 {
    padding-bottom: 40px;
    font-size: 18px;
}
#footer p {
    font-size: 16px;
}
#follow ul li {
    float: left;
    display: block;
}
#follow ul li {
    padding-right: 7px;
}
#follow ul li a>div {
    width: 30px;
    height: 31px;
}
#follow #facebook { background: url(../img/footer/facebook.svg) center top no-repeat; }
#follow #twitter { background: url(../img/footer/twitter.svg) center top no-repeat; }
#follow #instagram { background: url(../img/footer/instagram.svg) center top no-repeat; }
#follow #google_plus { background: url(../img/footer/google_plus.svg) center top no-repeat; }
/*------------------------------------- Media --------------------------------------*/
@media screen and (max-width: 1199px) {
    
}
@media screen and (max-width: 991px) {
    #header .content_row {
        position: relative;
    }
    #header #logo:after {
        content: '';
        clear: both;
        display: block;
    }
    #header #navigation ul, #header #navigation ul li, #header #navigation ul li a {
        padding: 0;
        margin: 0;
        float: none;
        display: block;
        text-align: center;
    }
    #header #navigation ul {
        position: fixed;
        left: -9999px;
        top: 75px;
        -webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
        width: 100%;
        height: calc(100vh - 75px);
        background-color: rgba(0,0,0,.4);
    }
    #header #navigation ul li a {
        padding: 0.6% 0;
        height: calc((100vh - 75px) / 9);
        color: #fff;
        letter-spacing: 2px;
        line-height: 50px;
    }
    #header #navigation ul li a:hover {
        background-color: rgba(255,255,255,.4);
        color: #FE8673;
        -webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
    }
    #header #navigation .menu_show {
        left: 0;
        transition: all 0.5s;
    }
    /*  about  */
    #about_img {
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }
    #main #about_inf {
        width: 90%;
        float: none;
        position: relative;
        display: block;
        margin: 75px auto 0 auto;
        padding: 150px 50px 50px 50px;
        background: url("../img/numbers/01.png") center top no-repeat;
        background-color: #fff;
    }
    #about_inf h3 {
        text-align: center;
    }
}
@media screen and (min-width: 992px) {
    #about_img {
        position: absolute;
    }
    #about_inf {
        float: right;
        position: relative;
        background: url("../img/numbers/01.png") left top no-repeat;
        background-color: #fff;
        padding: 95px 85px;
        margin: 75px 0;
        max-width: 652px;
    }
}
@media screen and (max-width: 767px){
    #pluses_row {
        max-width: none;
        width: 100%;
    }
    #pluses_row div {
        width: 33.33333333333333%;
    }
    #header h1 {
        font-size: 50px;
        line-height: 70px;
        padding: 200px 20px 50px 20px; 
    }
    /*  focus  */
    #focus .focus_wrapper {
        margin: 40px 0;
        padding: 0 10%;
    }
    #focus .focus_wrapper:first-of-type, #team .team_wrapper:first-of-type {
        margin-top: 0;
    }
    #focus .focus_wrapper:last-of-type, #team .team_wrapper:last-of-type {
        margin-bottom: 0;
    }
    /*  team  */
    #team .team_wrapper {
        float: none;
        width: 293px;
        margin: 50px auto;
    }
    /*  footer  */
    #footer .footer_block {
        width: 100%;
        float: none;
        padding: 30px 40px;
    }
    #footer .footer_block h4 {
        padding-bottom: 20px;
    }
    #footer .footer_block ul {
        padding-bottom: 30px;
    }
    #footer #logo {
        padding: 30px 40px;
        line-height: 0;
    }
    /*  stats  */
    #stats .stats_wrapper {
        margin: 30px 0;
    }
    /*  steps  */
    #steps .step_block .step_descr {
        background-color: rgba(255,255,255,.8);
    }
    /*  pricing  */
    #pricing .pricing_wrapper {
        margin: 50px 0;
    }
    #pricing .price_column {
        float: none;
        margin: 0 auto;
    }
    /*  select  */
    #select .select_wrapper {
        margin: 20px 0;
    }
}
@media screen and (max-width: 479px) {
    #pluses_row {
        padding-top: 60px;
    }
    #pluses_row div {
        float: none;
        display: block;
        margin: 0 auto;
        padding: 60px 0;
        width: 100%;
    }
    #header h1 {
        font-size: 35px;
        line-height: 50px;
        padding: 150px 20px 50px 20px; 
    }
}
