/*------------------------------------ Reset --------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea {
    outline: 0;
}
/*------------------------------------ Fonts ------------------------------------*/
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src:  url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/FontAwesome/fontawesome-webfont.woff") format("woff"),
        url("../fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "LibreBaskervilleRegular";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/LibreBaskerville/regular/LibreBaskerville-Regular.eot?#iefix") format("embedded-opentype"),
          url("../fonts/LibreBaskerville/regular/LibreBaskerville-Regular.woff") format("woff"),
          url("../fonts/LibreBaskerville/regular/LibreBaskerville-Regular.ttf") format("truetype"),
          url("../fonts/LibreBaskerville/regular/LibreBaskerville-Regular.svg") format('svg');
}
@font-face {
  font-family: "LibreBaskervilleBold";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/LibreBaskerville/bold/LibreBaskerville-Bold.eot?#iefix") format("embedded-opentype"),
          url("../fonts/LibreBaskerville/bold/LibreBaskerville-Bold.woff") format("woff"),
          url("../fonts/LibreBaskerville/bold/LibreBaskerville-Bold.ttf") format("truetype"),
          url("../fonts/LibreBaskerville/bold/LibreBaskerville-Bold.svg") format('svg');
}
@font-face {
  font-family: "Sacramento";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/Sacramento/Sacramento-Regular.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Sacramento/Sacramento-Regular.woff") format("woff"),
          url("../fonts/Sacramento/Sacramento-Regular.ttf") format("truetype"),
          url("../fonts/Sacramento/Sacramento-Regular.svg") format('svg');
}
@font-face {
  font-family: "PoppinsRegular";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/Poppins/regular/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Poppins/regular/Poppins-Regular.woff") format("woff"),
          url("../fonts/Poppins/regular/Poppins-Regular.ttf") format("truetype"),
          url("../fonts/Poppins/regular/Poppins-Regular.svg") format('svg');
}
@font-face {
  font-family: "PoppinsMedium";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/Poppins/medium/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Poppins/medium/Poppins-Medium.woff") format("woff"),
          url("../fonts/Poppins/medium/Poppins-Medium.ttf") format("truetype"),
          url("../fonts/Poppins/medium/Poppins-Medium.svg") format('svg');
}
@font-face {
  font-family: "PoppinsSemiBold";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/Poppins/semibold/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Poppins/semibold/Poppins-SemiBold.woff") format("woff"),
          url("../fonts/Poppins/semibold/Poppins-SemiBold.ttf") format("truetype"),
          url("../fonts/Poppins/semibold/Poppins-SemiBold.svg") format('svg');
}
@font-face {
  font-family: "Wisdom";
  font-style: normal;
  font-weight: normal;
  src:    url("../fonts/Wisdom/wisdom_script.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Wisdom/wisdom_script.woff") format("woff"),
          url("../fonts/Wisdom/wisdom_script.ttf") format("truetype"),
          url("../fonts/Wisdom/wisdom_script.svg") format('svg');
}
/*-------------------------------- Common settings ---------------------------------*/
/* ------------------------------ Layout */
#main {
	font-family: PoppinsRegular, Arial, sans-serif;
    width: 100%;
	max-width: 1920px;
	background-color: #fff;
}
#main p, #main ul li {
    font-size: 15px;
    line-height: 27px;
    color:  #616161;
}
.section {
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}
#header, #about {
    text-align: left;
}
.content_row {
    max-width: 1200px;
    padding: 145px 15px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#main .content_row>p {
    font-size: 18px;
    color: #616161;
    padding: 40px 40px 80px 40px;
}
#main #team, #main #pricing {
    background-color: #eeeeee;
}
/* ------------------------------ Blocks */
/*------ Center alignment ------*/
#header h1, #header a, #header #pluses_row {
    display: block;
    margin: 0 auto;
}
/*------ Left alignment ------*/
#logo, #pluses_row div, .color_line span {
    float: left;
}
/*------ Right alignment ------*/
#navigation ul {
    float: right;
}
.content_row h3 {
    font-family: LibreBaskervilleBold;
    font-size: 50px;
    color:  #313131;
    margin: 0;
}
.mrg_top_50 {
    margin-top: 50px;
}
/* ------------------------------ Cosmetics */
/*---------- fonts -----------*/
.poppins_reg { font-family: PoppinsRegular; }
.poppins_med { font-family: PoppinsMedium; }
.fz_18 { font-size: 18px; }
.fz_20 { font-size: 20px; }
.fz_25 { font-size: 25px; }
/*------ transition all ------*/
#navigation, #navigation ul li a, .no_scroll ul li a:hover, .scrolled, #header .scrolled ul li a:hover, #header #our_works, #header #our_works:hover,
#menu_link span:before, #menu_link span:after, #pricing #starter a:hover, #pricing #ultimate a:hover, #pricing #professional a:hover, .start_button {
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
#portfolio .img_hover, #portfolio .img_box:hover .img_hover {
    -webkit-transition: opacity 0.5s;
       -moz-transition: opacity 0.5s;
         -o-transition: opacity 0.5s;
            transition: opacity 0.5s;
}
/*------ shadow ------*/
#about_inf, .focus_block, #portfolio .img_box, #team .team_member, .scrolled, .step_block .step_descr, #pricing .price_column {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#main a {
    text-decoration: none;
}
/*------ main color scheme -------*/
/* Red color*/
#logo span, #michael, #pricing #ultimate a {
    color:  #fc5f45;
}
#header #our_works, #pricing #ultimate a:hover {
    background-color: #fc5f45;
}
/* Green color */
#pluses_row div, #david, #pricing #starter a {
    color:  #38c695;
}
#pricing #starter a:hover {
    background-color: #38c695;
}
/* Purple color */
#pluses_row #clock, #anna, #pricing #professional a {
    color:  #b27cf5;
}
#pricing #professional a:hover {
    background-color: #b27cf5;
}
/* Yellow color */
#pluses_row #check, #jason {
    color:  #feb960;
}
/*------ 4 colored line -------*/
.color_line {
    width: 100%;
    overflow: hidden;
}
#about .color_line {
    position: absolute;
    left: 0;
    bottom: 0;
}
#portfolio .color_line {
    position: absolute;
    left: 0;
    bottom: 63px;
}
.color_line span {
    width: 25%;
}
.color_line #red, #michael, #step_01 {
    border-bottom: 3px solid #fc5f45;
}
.color_line #green, #david, #step_02 {
    border-bottom: 3px solid #38c695;
}
.color_line #purple, #anna, #step_03 {
    border-bottom: 3px solid #b27cf5;
}
.color_line #yellow, #jason, #step_04 {
    border-bottom: 3px solid #feb960;
}
/* ---------------------------- */
/* White color */
#logo a, .no_scroll ul li a, #header h1, #header #our_works, #pricing #starter a:hover, #pricing #ultimate a:hover, #pricing #professional a:hover {
    color: #fff;
}
.scrolled, #menu_link, #header #our_works:hover, #team .team_member, #team .member_info, #main #steps, #steps .step_block .step_descr, #pricing .price_column {
    background-color: #fff;
}
/* Red hover color */
.no_scroll ul li a:hover, #header .scrolled ul li a:hover {
    color: #FE8673;
}
/*------------------------------------- Header -------------------------------------*/
#header {
    width: 100%;
    height: 850px;
    background: url("../img/header_bg.png") center center no-repeat;
}
#navigation {
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 99;
}
#navigation .content_row {
    padding: 0 15px;
}
#logo {
    font-family: Wisdom;
    font-size: 35px;
    line-height: 75px;
}
#logo span {
    text-transform: uppercase;
}
#navigation ul li {
    display: inline-block;   
}
#navigation ul li a {
    font-family: PoppinsMedium;
    font-size: 14px;
    padding: 0 11px;
    text-transform: capitalize;
    line-height: 75px;
}
.no_scroll {
    background-color: transparent;
}
#header .scrolled ul li a {
    color: #3D3E48;
}
#menu_link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 17.5px;
    right: 20px;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
       -moz-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
            box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}
#menu_link span, #menu_link span:before, #menu_link span:after {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #3D3E48;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -1px;
}
#menu_link span:before {
    content: '';
    margin-top: -6px;
}
#menu_link span:after {
    content: '';
    margin-top: 4px;
}
#header .menu_active span {
    background-color: transparent;
}
#header .menu_active span:before {
    transform: rotate(135deg);
    margin-top: 0;
}
#header .menu_active span:after {
    transform: rotate(-135deg);
    margin-top: 0;
}
#header h1 {
    font-family: LibreBaskervilleRegular;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    padding: 225px 0 50px 0;
    max-width: 820px; 
}
#header #our_works {
    border: 1px solid #616161;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    font-family: PoppinsSemiBold;
    font-size: 16px;
}
#header #our_works:hover {
    color: #616161;
    -webkit-box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
       -moz-box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
            box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
}
#pluses_row {
    width: 100%;
    max-width: 750px;
    padding: 85px 0 0 0;
}
#pluses_row div {
    text-align: center;
    font-family: PoppinsMedium;
    font-size: 18px;
    width: 100%;
    max-width: 250px;
    padding-top: 78px;
    background: url("../img/dollar.png") center top no-repeat;
    text-transform: uppercase;
}
#pluses_row #clock {
    background-image: url("../img/clock.png");
}
#pluses_row #check {
    background-image: url("../img/check.png");
}
/*-------------------------------------- About -------------------------------------*/
#about_img {
    max-width: 555px;
    background: url("../img/about_bg.jpg") left top repeat-x;
    position: absolute;
}
#about_img img{
    padding: 10px;
    width: 100%;
}
#about_inf {
    float: right;
    position: relative;
    background: url("../img/numbers/01.png") left top no-repeat;
    background-color: #fff;
    padding: 95px 85px;
    margin: 75px 0;
    max-width: 652px;
}
#about_inf h3, #about_inf p {
    margin: 0;
    text-align: left;
}
#about_inf p {
    padding: 10px 0;
}
/*-------------------------------------- Focus -------------------------------------*/
#focus {
    background: url("../img/numbers/02.png") center top no-repeat;
    background-color: #eeeeee;
    text-align: center;
}
.focus_block {
    background: url("../img/focus/web.png") center 64px no-repeat;
    background-color:  #ffffff;
    border-bottom: 3px solid #fc5f45;
    padding: 138px 32px 67px 32px;
}
.focus_block h4 {
    padding-bottom: 32px;
}
#ux {
    background: url("../img/focus/ux.png") center 64px no-repeat;
    background-color:  #ffffff;
    border-bottom-color: #38c695;
}
#photo {
    background: url("../img/focus/photo.png") center 64px no-repeat;
    background-color:  #ffffff;
    border-bottom-color: #b27cf5;
}
#app {
    background: url("../img/focus/app.png") center 64px no-repeat;
    background-color:  #ffffff;
    border-bottom-color: #feb960;
}
/*------------------------------------ Portfolio -----------------------------------*/
#portfolio {
    background: url("../img/numbers/03.png") center top no-repeat;
}
#portfolio .img_box {
    cursor: pointer;
    margin: 15px 0;
    max-width: 360px;
    max-height: 288px;
    width: 100%;
    height: 100%;
}
#portfolio img {
    width: 100%;
    height: auto;
}
#portfolio .img_hover {
    position: absolute;
    left: 15px;
    top: 15px;
    max-width: 360px;
    width: 100%;
    max-height: 288px;
    height: 100%;
    background: url("../img/portfolio/plus.png") center center no-repeat;
    background-color: rgba(38,39,50,0.5);
    z-index: 10;
    opacity: 0;
}
#portfolio .img_caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 63px;
    text-align: center;
    font-size: 18px;
    line-height: 63px;
    background-size: 100% 3px;
    background-color: #fff;
    z-index: 11;
}
#portfolio .img_box:hover .img_hover {
    opacity: 1;
}
/*-------------------------------------- Team --------------------------------------*/
#team {
    background: url("../img/numbers/04.png") center top no-repeat;
}
#team .team_member {
    padding: 5px;
    display: block;
    cursor: pointer;
}
#team .team_member img {
    max-width: 270px;
    width: 100%;
}
.caption h4 {
    font-size: 18px;
    margin: 0;
    padding: 15px 0 5px 0;
}
.caption p {
    font-size: 14px;
    margin: 0;
    padding: 4px 0 7px 0;
}
.member_info {
    padding: 80px 100px;
    text-align: left;
    position: relative;
    display: none;
}
.about_member {
    padding-right: 130px;
}
.about_member h4 {
    padding-bottom: 35px;
}
.about_member p {
    padding-right: 180px;
    border-right: 2px solid #efefef;
    background: url(../img/team/share.svg) 95.83333333333333% center no-repeat;
}
.member_links {
    position: absolute;
    right: 100px;
    top: 135px;
    padding: 24px;
}
.member_links ul li {
    padding: 3px;
    display: block;
}
.member_links ul li a {
    color:  #616161;
    -webkit-transition: color 0.5s;-o-transition: color 0.5s;-moz-transition: color 0.5s;transition: color 0.5s;
}
.member_links ul li a:hover {
    color:  #FE8673;
    -webkit-transition: color 0.5s;-o-transition: color 0.5s;-moz-transition: color 0.5s;transition: color 0.5s;
}
.member_links ul li span {
    font-family: FontAwesome;
    padding-right: 5px;
}
.triangle {
    content: '';
    border: 40px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    left: 36.66666666666667%;
    bottom: -50px;
}
#david .triangle, #anna .triangle, #jason .triangle {
    display: none;
}
.show {
    display: block;
}
/*------------------------------------- Stats --------------------------------------*/
#stats {
    background: url("../img/stats/stats.png") center top no-repeat;
    width: 100%;
}
#main #stats .regerds_row {
    padding: 110px 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
#stats .regard { margin: 20px 0; }
#stats .regard p {
    color: rgba(254, 254, 254, 0.8);
    text-align: center;
}
#stats .regard .poppins_med {
    padding: 80px 0 15px 0;
    background: url("../img/stats/project.svg") center top no-repeat;
}
#stats .regard .color_dot {
    padding: 15px 0 55px 0;
    background: url("../img/stats/red-ring.svg") center bottom no-repeat;
}
#stats #clients .poppins_med { background: url("../img/stats/clients.svg") center top no-repeat; }
#stats #clients .color_dot { background: url("../img/stats/green-ring.svg")center bottom no-repeat; }
#stats #feedbacks .poppins_med { background: url("../img/stats/feeds.svg") center top no-repeat; }
#stats #feedbacks .color_dot { background: url("../img/stats/purple-ring.svg")center bottom no-repeat; }
#stats #freebies .poppins_med { background: url("../img/stats/bies.svg") center top no-repeat; }
#stats #freebies .color_dot { background: url("../img/stats/yellow-ring.svg")center bottom no-repeat; }
/*---------------------------------- How we work -----------------------------------*/
#steps {
    background: url("../img/numbers/05.png") center top no-repeat;
}
#steps_section {
    max-width: 1140px
    padding: 50px 30px 150px 30px;
}
.step_block {
    position: relative;
}
#steps_section .step_block {
    width: 100%;
}
#steps_section .step_block img {
    display: block;
    width: 100%;
    max-width: 556px;
    margin: 0 auto;
}
.step_block .step_descr {
    background: url("../img/steps/step_01.png") 32px 41px no-repeat;
    max-width: 458px;
    max-height: 301px;
    text-align: left;
    padding: 48px 60px 64px 120px;
    position: absolute;
}
.step_block .step_descr h4 {
    padding-bottom: 24px;
}
.step_block #step_01, .step_block #step_03 {
    left: 0;
    top: -50px;
}
.step_block #step_02, .step_block #step_04 {
    right: 0;
    top: -50px;
}
.step_block #step_02 {
    background: url("../img/steps/step_02.png") 32px 41px no-repeat;
}
.step_block #step_03 {
    background: url("../img/steps/step_03.png") 32px 41px no-repeat;
}
.step_block #step_04 {
    background: url("../img/steps/step_04.png") 32px 41px no-repeat;
}
/*------------------------------------ Pricing -------------------------------------*/
#pricing {
    background: url("../img/numbers/06.png") center top no-repeat;
}
#pricing .price_column {
    border-top: 3px solid #38c695;
    padding: 40px 0;
}
#pricing #ultimate {
    border-top: 3px solid #fc5f45;
}
#pricing #professional {
    border-top: 3px solid #b27cf5;
}
#pricing .price_column h4 { padding-bottom: 32px; }
#pricing .price_column ul {
    font-family: PoppinsRegular;
    font-size: 15px;
    margin: 0;
    padding: 40px 0;
}
#pricing .price_column ul li {
    color:  #272727;
    line-height: 40px;
}
#pricing .price_column .price {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color:  #ffffff;
    box-sizing: border-box;
    width: 106px;
    height: 106px;
    margin: 0 auto;
    font-family: PoppinsRegular;
    font-size: 13px;
    color: #ffffff;
    padding: 27px 15px;
    background-color:  #38c695;
    -webkit-box-shadow: 0px 0px 0px 3px #38c695;
       -moz-box-shadow: 0px 0px 0px 3px #38c695;
            box-shadow: 0px 0px 0px 3px #38c695;
}
#pricing #ultimate .price {
    background-color:  #fc5f45;
    -webkit-box-shadow: 0px 0px 0px 3px #fc5f45;
       -moz-box-shadow: 0px 0px 0px 3px #fc5f45;
            box-shadow: 0px 0px 0px 3px #fc5f45;
}
#pricing #professional .price {
    background-color:  #b27cf5;
    -webkit-box-shadow: 0px 0px 0px 3px #b27cf5;
       -moz-box-shadow: 0px 0px 0px 3px #b27cf5;
            box-shadow: 0px 0px 0px 3px #b27cf5;
}
#pricing .price_column .price strong { font-size: 25px; }
#pricing .price_column ul strong { font-family: PoppinsMedium; }
#pricing .price_column ul span { font-family: FontAwesome; }
.start_button {
    margin: 0 auto;
    display: block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid #38c695;
    text-align: center;
    font-family: PoppinsSemiBold;
    font-size: 16px;
    line-height: 46px;
    text-transform: uppercase;
}
#pricing #ultimate a {
    border: 2px solid #fc5f45;
}
#pricing #professional a {
    border: 2px solid #b27cf5;
}
/*------------------------ Media ------------------------*/
@media screen and (max-width: 1199px) {
    
}
@media screen and (max-width: 991px) {
    
}
@media screen and (max-width: 767px){
    
}
@media screen and (max-width: 479px) {

}
